n8n-flujos/AC-01_resumen_diario.json
{
  "name": "AC-01 Resumen Diario de Acciones",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1-5" }] } },
      "id": "cron-weekdays",
      "name": "L-V 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/actions?due_date={{new Date().toISOString().split('T')[0]}}&status=pending&page_size=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-today",
      "name": "GET Acciones Hoy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/actions?status=overdue&page_size=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-overdue",
      "name": "GET Acciones Vencidas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 450],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "jsCode": "const todayActions = $node['GET Acciones Hoy'].json.items || [];\nconst overdueActions = $node['GET Acciones Vencidas'].json.items || [];\n\nlet msg = '📋 *Resumen diario de acciones*\\n\\n';\n\nif (todayActions.length > 0) {\n  msg += `📅 *Para hoy (${todayActions.length}):*\\n`;\n  todayActions.forEach(a => {\n    const priority = a.priority === 'high' ? '🔴' : a.priority === 'medium' ? '🟡' : '🟢';\n    msg += `${priority} ${a.title} — _${a.company_name || 'Sin empresa'}_\\n`;\n  });\n} else {\n  msg += '📅 *Para hoy:* Sin acciones pendientes ✅\\n';\n}\n\nmsg += '\\n';\n\nif (overdueActions.length > 0) {\n  msg += `⚠️ *Vencidas (${overdueActions.length}):*\\n`;\n  overdueActions.forEach(a => {\n    msg += `🔴 ${a.title} — vence ${a.due_date}\\n`;\n  });\n} else {\n  msg += '⚠️ *Vencidas:* Ninguna 🎉\\n';\n}\n\nreturn [{ json: { message: msg, today_count: todayActions.length, overdue_count: overdueActions.length } }];"
      },
      "id": "build-summary",
      "name": "Construir Resumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 370]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{$json.message}}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram",
      "name": "Enviar Resumen Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [910, 370],
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Riskitera Telegram Bot" } }
    }
  ],
  "connections": {
    "L-V 9:00": { "main": [[{ "node": "GET Acciones Hoy", "type": "main", "index": 0 }, { "node": "GET Acciones Vencidas", "type": "main", "index": 0 }]] },
    "GET Acciones Hoy": { "main": [[{ "node": "Construir Resumen", "type": "main", "index": 0 }]] },
    "GET Acciones Vencidas": { "main": [[{ "node": "Construir Resumen", "type": "main", "index": 0 }]] },
    "Construir Resumen": { "main": [[{ "node": "Enviar Resumen Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Madrid" },
  "tags": [{ "name": "acciones_alertas" }, { "name": "critical" }, { "name": "phase_1" }],
  "meta": { "code": "AC-01", "category": "acciones_alertas", "priority": "critical", "estimated_hours": 4, "description": "Resumen diario L-V a las 9:00 con acciones del día y vencidas por Telegram." }
}
