n8n-flujos/AC-03_auto_cierre_acciones.json
{
  "name": "AC-03 Auto-cierre Acciones Antiguas",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 7 * * 0" }] } },
      "id": "cron-sunday",
      "name": "Domingo 7:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/actions?status=pending&page_size=200",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-actions",
      "name": "GET Acciones Pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "jsCode": "const actions = $input.first().json.items || [];\nconst now = new Date();\nconst threshold = 60; // días\n\nconst old = actions.filter(a => {\n  if (a.priority === 'critical') return false; // Nunca auto-cerrar críticas\n  const due = new Date(a.due_date);\n  const daysOverdue = (now - due) / 86400000;\n  return daysOverdue > threshold;\n});\n\nreturn old.map(a => ({\n  json: {\n    ...a,\n    days_overdue: Math.floor((now - new Date(a.due_date)) / 86400000)\n  }\n}));"
      },
      "id": "filter-old",
      "name": "Filtrar >60 días",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": { "batchSize": 5, "options": {} },
      "id": "batch",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/actions/{{$json.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": { "parameters": [{ "name": "status", "value": "cancelled" }, { "name": "notes", "value": "=Auto-cerrada: vencida hace {{$json.days_overdue}} días sin actividad." }] },
        "options": {}
      },
      "id": "close-action",
      "name": "Cerrar Acción",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1130, 300],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=🗑️ *Auto-cierre semanal*\n\nSe han cerrado acciones vencidas >60 días (excluyendo críticas).",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram",
      "name": "Resumen Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1350, 300],
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Riskitera Telegram Bot" } }
    }
  ],
  "connections": {
    "Domingo 7:00": { "main": [[{ "node": "GET Acciones Pendientes", "type": "main", "index": 0 }]] },
    "GET Acciones Pendientes": { "main": [[{ "node": "Filtrar >60 días", "type": "main", "index": 0 }]] },
    "Filtrar >60 días": { "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]] },
    "SplitInBatches": { "main": [[{ "node": "Cerrar Acción", "type": "main", "index": 0 }]] },
    "Cerrar Acción": { "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Madrid" },
  "tags": [{ "name": "acciones_alertas" }, { "name": "medium" }, { "name": "phase_4" }],
  "meta": { "code": "AC-03", "category": "acciones_alertas", "priority": "medium", "estimated_hours": 3, "description": "Auto-cierre semanal de acciones no-críticas vencidas >60 días." }
}
