n8n-flujos/AL-01_slack_teams_alerts.json
{
  "name": "AL-01 Slack/Teams Alert Router",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "alert-router", "responseMode": "responseNode" },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const { title, message, priority, channels } = $input.first().json;\nconst results = [];\n\nif (channels?.slack_webhook_url) {\n  results.push({ json: { channel: 'slack', webhook_url: channels.slack_webhook_url, text: `*${title}*\\n${message}` } });\n}\nif (channels?.teams_webhook_url) {\n  results.push({ json: { channel: 'teams', webhook_url: channels.teams_webhook_url, title, text: message } });\n}\nif (channels?.telegram_chat_id) {\n  results.push({ json: { channel: 'telegram', chat_id: channels.telegram_chat_id, text: `<b>${title}</b>\\n${message}` } });\n}\n\nreturn results;"
      },
      "id": "route-channels",
      "name": "Enrutar a canales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhook_url }}",
        "sendBody": true,
        "bodyParameters": { "parameters": [{ "name": "text", "value": "={{ $json.text }}" }] },
        "options": {}
      },
      "id": "send-webhook",
      "name": "Enviar a Slack/Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [690, 300]
    },
    {
      "parameters": { "respondWith": "allIncomingItems", "options": {} },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Enrutar a canales", "type": "main", "index": 0 }]] },
    "Enrutar a canales": { "main": [[{ "node": "Enviar a Slack/Teams", "type": "main", "index": 0 }]] },
    "Enviar a Slack/Teams": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "alerts" }, { "name": "slack" }, { "name": "teams" }]
}
