n8n-flujos/EM-04_followup_post_visita.json
{
  "name": "EM-04 Follow-up Post-Visita",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hooks/visit-created",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 200,
          "responseData": ""
        }
      },
      "id": "webhook-visit",
      "name": "Webhook Visita Creada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{$json.result}}",
              "rightValue": "positive",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{$json.result}}",
              "rightValue": "follow_up",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-positive",
      "name": "¿Positiva o Follow-up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "wait-24h",
      "name": "Esperar 24h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        690,
        250
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/leads/{{$('Webhook Visita Creada').first().json.lead_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-lead",
      "name": "GET Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        910,
        250
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "riskitera-api",
          "name": "Riskitera API Bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{$json.id}}"
            },
            {
              "name": "to_email",
              "value": "={{$json.contact_email}}"
            },
            {
              "name": "subject",
              "value": "=Gracias por la reunión — Resumen y próximos pasos con {{$json.company_name}}"
            },
            {
              "name": "body_html",
              "value": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto\"><h2 style=\"color:#06b6d4\">Gracias por tu tiempo, {{$json.contact_name}}</h2><p>Fue un placer reunirnos con el equipo de <strong>{{$json.company_name}}</strong>.</p><h3>Resumen de la reunión:</h3><p>{{$('Webhook Visita Creada').first().json.summary || 'Sin resumen disponible'}}</p><h3>Próximos pasos acordados:</h3><ul>{{($('Webhook Visita Creada').first().json.next_steps || []).map(s => '<li>' + s + '</li>').join('')}}</ul><p>Quedamos a tu disposición para cualquier consulta.</p><p>Un saludo,<br/>El equipo de Riskitera</p></div>"
            },
            {
              "name": "is_follow_up",
              "value": true
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-email",
      "name": "Crear Email Agradecimiento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1130,
        250
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "riskitera-api",
          "name": "Riskitera API Bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/emails/{{$json.id}}/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "send-email",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1350,
        250
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "riskitera-api",
          "name": "Riskitera API Bearer"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook Visita Creada": {
      "main": [
        [
          {
            "node": "¿Positiva o Follow-up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Positiva o Follow-up?": {
      "main": [
        [
          {
            "node": "Esperar 24h",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Esperar 24h": {
      "main": [
        [
          {
            "node": "GET Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Lead": {
      "main": [
        [
          {
            "node": "Crear Email Agradecimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Email Agradecimiento": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid"
  },
  "tags": [
    {
      "name": "email_automation"
    },
    {
      "name": "high"
    },
    {
      "name": "phase_2"
    }
  ],
  "meta": {
    "code": "EM-04",
    "category": "email_automation",
    "priority": "high",
    "estimated_hours": 3,
    "description": "Follow-up automático 24h después de visita positiva con resumen y próximos pasos."
  }
}
