n8n-flujos/EM-01_secuencia_welcome.json
{
  "name": "EM-01 Secuencia Welcome",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hooks/lead-created",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Lead Creado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/leads/{{$json.lead_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-lead",
      "name": "GET Lead Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "lead_id", "value": "={{$node['GET Lead Info'].json.id}}" },
            { "name": "to_email", "value": "={{$node['GET Lead Info'].json.contact_email}}" },
            { "name": "subject", "value": "Bienvenido a Riskitera — Ciberseguridad y Cumplimiento GRC" },
            { "name": "body_html", "value": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto\"><h2 style=\"color:#06b6d4\">¡Hola {{$node['GET Lead Info'].json.contact_name}}!</h2><p>Gracias por tu interés en <strong>Riskitera</strong>. Ayudamos a empresas como <strong>{{$node['GET Lead Info'].json.company_name}}</strong> a cumplir con las normativas de ciberseguridad (ENS, NIS2, DORA, ISO 27001).</p><p>En los próximos días te enviaremos información sobre cómo podemos ayudarte.</p><p>Un saludo,<br/>El equipo de Riskitera</p></div>" }
          ]
        },
        "options": {}
      },
      "id": "create-email-day0",
      "name": "Crear Email Día 0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [690, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/emails/{{$json.id}}/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "send-email-day0",
      "name": "Enviar Email Día 0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [910, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" }
      }
    },
    {
      "parameters": { "amount": 3, "unit": "days" },
      "id": "wait-3d",
      "name": "Esperar 3 días",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "lead_id", "value": "={{$node['GET Lead Info'].json.id}}" },
            { "name": "to_email", "value": "={{$node['GET Lead Info'].json.contact_email}}" },
            { "name": "subject", "value": "Propuesta de valor: Cumplimiento normativo sin complejidad" },
            { "name": "body_html", "value": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto\"><h2 style=\"color:#06b6d4\">{{$node['GET Lead Info'].json.contact_name}}, ¿conoces tu nivel de cumplimiento?</h2><p>En <strong>Riskitera</strong> simplificamos el cumplimiento de ENS, NIS2, DORA e ISO 27001 con una plataforma GRC integral.</p><ul><li>✅ Evaluación automática de gaps</li><li>✅ Plan de acción priorizado</li><li>✅ Dashboard de cumplimiento en tiempo real</li></ul><p>¿Te gustaría una demo personalizada para <strong>{{$node['GET Lead Info'].json.company_name}}</strong>?</p><p>Un saludo,<br/>El equipo de Riskitera</p></div>" },
            { "name": "is_follow_up", "value": true },
            { "name": "follow_up_sequence", "value": 2 }
          ]
        },
        "options": {}
      },
      "id": "create-email-day3",
      "name": "Crear Email Día 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1350, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/emails/{{$json.id}}/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "send-email-day3",
      "name": "Enviar Email Día 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1570, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" }
      }
    },
    {
      "parameters": { "amount": 4, "unit": "days" },
      "id": "wait-4d",
      "name": "Esperar 4 días",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "lead_id", "value": "={{$node['GET Lead Info'].json.id}}" },
            { "name": "to_email", "value": "={{$node['GET Lead Info'].json.contact_email}}" },
            { "name": "subject", "value": "¿Hablamos? Siguiente paso con Riskitera" },
            { "name": "body_html", "value": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto\"><h2 style=\"color:#06b6d4\">{{$node['GET Lead Info'].json.contact_name}}, ¿agendamos una llamada?</h2><p>Llevamos unos días en contacto y me gustaría entender mejor las necesidades de <strong>{{$node['GET Lead Info'].json.company_name}}</strong> en materia de ciberseguridad y cumplimiento normativo.</p><p>¿Tienes 30 minutos esta semana para una llamada rápida? Puedo mostrarte cómo Riskitera puede ayudarte.</p><p><a href=\"https://riskitera.com/demo\" style=\"background:#06b6d4;color:white;padding:12px 24px;text-decoration:none;border-radius:6px;display:inline-block\">Agendar Demo</a></p><p>Un saludo,<br/>El equipo de Riskitera</p></div>" },
            { "name": "is_follow_up", "value": true },
            { "name": "follow_up_sequence", "value": 3 }
          ]
        },
        "options": {}
      },
      "id": "create-email-day7",
      "name": "Crear Email Día 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2010, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/emails/{{$json.id}}/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "send-email-day7",
      "name": "Enviar Email Día 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2230, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/leads/{{$node['GET Lead Info'].json.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "contacted" }
          ]
        },
        "options": {}
      },
      "id": "update-lead-status",
      "name": "Marcar Lead Contactado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2450, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" }
      }
    }
  ],
  "connections": {
    "Webhook Lead Creado": { "main": [[{ "node": "GET Lead Info", "type": "main", "index": 0 }]] },
    "GET Lead Info": { "main": [[{ "node": "Crear Email Día 0", "type": "main", "index": 0 }]] },
    "Crear Email Día 0": { "main": [[{ "node": "Enviar Email Día 0", "type": "main", "index": 0 }]] },
    "Enviar Email Día 0": { "main": [[{ "node": "Esperar 3 días", "type": "main", "index": 0 }]] },
    "Esperar 3 días": { "main": [[{ "node": "Crear Email Día 3", "type": "main", "index": 0 }]] },
    "Crear Email Día 3": { "main": [[{ "node": "Enviar Email Día 3", "type": "main", "index": 0 }]] },
    "Enviar Email Día 3": { "main": [[{ "node": "Esperar 4 días", "type": "main", "index": 0 }]] },
    "Esperar 4 días": { "main": [[{ "node": "Crear Email Día 7", "type": "main", "index": 0 }]] },
    "Crear Email Día 7": { "main": [[{ "node": "Enviar Email Día 7", "type": "main", "index": 0 }]] },
    "Enviar Email Día 7": { "main": [[{ "node": "Marcar Lead Contactado", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Madrid" },
  "tags": [{ "name": "email_automation" }, { "name": "critical" }, { "name": "phase_1" }],
  "meta": {
    "code": "EM-01",
    "category": "email_automation",
    "priority": "critical",
    "description": "Secuencia de 3 emails de bienvenida (Día 0, 3 y 7) cuando se crea un nuevo lead.",
    "api_endpoints": ["POST /emails", "POST /emails/{id}/send", "PUT /leads/{id}"],
    "integrations": ["Resend API"],
    "estimated_hours": 8
  }
}
