n8n-flujos/EM-02_tracking_email.json
{
  "name": "EM-02 Tracking de Email",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "hooks/resend-events", "responseMode": "onReceived", "options": {} },
      "id": "webhook-resend",
      "name": "Webhook Resend Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            { "outputKey": "opened", "value": "email.opened" },
            { "outputKey": "clicked", "value": "email.clicked" },
            { "outputKey": "replied", "value": "email.replied" },
            { "outputKey": "bounced", "value": "email.bounced" }
          ]
        },
        "dataPropertyName": "={{$json.type}}"
      },
      "id": "switch-event",
      "name": "Tipo de Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json;\nconst eventType = event.type;\nlet scoreAdjust = 0;\nlet updateFields = {};\n\nif (eventType === 'email.opened') {\n  scoreAdjust = 5;\n  updateFields.opened_at = new Date().toISOString();\n} else if (eventType === 'email.clicked') {\n  scoreAdjust = 10;\n} else if (eventType === 'email.replied') {\n  scoreAdjust = 20;\n}\n\nreturn [{ json: { ...event, scoreAdjust, updateFields } }];"
      },
      "id": "calc-score",
      "name": "Calcular Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/leads/{{$json.data.lead_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-lead",
      "name": "GET Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [910, 200],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/leads/{{$json.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "score", "value": "={{Math.min(100, $json.score + $node['Calcular Score'].json.scoreAdjust)}}" }
          ]
        },
        "options": {}
      },
      "id": "update-score",
      "name": "Actualizar Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1130, 200],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/actions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "lead_id", "value": "={{$node['GET Lead'].json.id}}" },
            { "name": "title", "value": "Follow-up: respuesta a email" },
            { "name": "description", "value": "El contacto ha respondido al email. Hacer seguimiento inmediato." },
            { "name": "priority", "value": "high" },
            { "name": "status", "value": "pending" },
            { "name": "due_date", "value": "={{new Date(Date.now() + 86400000).toISOString()}}" }
          ]
        },
        "options": {}
      },
      "id": "create-followup",
      "name": "Crear Accion Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [910, 450],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    }
  ],
  "connections": {
    "Webhook Resend Events": { "main": [[{ "node": "Tipo de Evento", "type": "main", "index": 0 }]] },
    "Tipo de Evento": {
      "main": [
        [{ "node": "Calcular Score", "type": "main", "index": 0 }],
        [{ "node": "Calcular Score", "type": "main", "index": 0 }],
        [{ "node": "Crear Accion Follow-up", "type": "main", "index": 0 }],
        []
      ]
    },
    "Calcular Score": { "main": [[{ "node": "GET Lead", "type": "main", "index": 0 }]] },
    "GET Lead": { "main": [[{ "node": "Actualizar Score Lead", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Madrid" },
  "tags": [{ "name": "email_automation" }, { "name": "critical" }]
}
