n8n-flujos/EM-03_reengagement.json
{
  "name": "EM-03 Re-engagement Automático",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1" }] } },
      "id": "cron-monday",
      "name": "Lunes 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/leads?status=contacted&page_size=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-leads",
      "name": "GET Leads Contactados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.first().json.items || [];\nconst thirtyDaysAgo = new Date(Date.now() - 30 * 86400000);\nconst dormant = leads.filter(l => new Date(l.updated_at) < thirtyDaysAgo);\nreturn dormant.map(l => ({ json: l }));"
      },
      "id": "filter-dormant",
      "name": "Filtrar Dormidos >30d",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": { "batchSize": 5, "options": {} },
      "id": "batch",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "lead_id", "value": "={{$json.id}}" },
            { "name": "to_email", "value": "={{$json.contact_email}}" },
            { "name": "subject", "value": "={{$json.company_name}} — ¿Retomamos la conversación sobre ciberseguridad?" },
            { "name": "body_html", "value": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto\"><h2 style=\"color:#06b6d4\">Hola {{$json.contact_name}},</h2><p>Hace un tiempo hablamos sobre las necesidades de cumplimiento normativo de <strong>{{$json.company_name}}</strong>.</p><p>Desde entonces hemos incorporado nuevas funcionalidades en nuestra plataforma GRC que podrían interesarte:</p><ul><li>✅ Nuevo módulo de evaluación NIS2</li><li>✅ Automatización de controles ISO 27001</li><li>✅ Dashboard de cumplimiento en tiempo real</li></ul><p>¿Te gustaría una actualización rápida de 15 minutos?</p><p><a href=\"https://riskitera.com/demo\" style=\"background:#06b6d4;color:white;padding:12px 24px;text-decoration:none;border-radius:6px;display:inline-block\">Agendar llamada</a></p></div>" }
          ]
        },
        "options": {}
      },
      "id": "create-email",
      "name": "Crear Email Reactivación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1130, 300],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/emails/{{$json.id}}/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "send-email",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1350, 300],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    }
  ],
  "connections": {
    "Lunes 9:00": { "main": [[{ "node": "GET Leads Contactados", "type": "main", "index": 0 }]] },
    "GET Leads Contactados": { "main": [[{ "node": "Filtrar Dormidos >30d", "type": "main", "index": 0 }]] },
    "Filtrar Dormidos >30d": { "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]] },
    "SplitInBatches": { "main": [[{ "node": "Crear Email Reactivación", "type": "main", "index": 0 }]] },
    "Crear Email Reactivación": { "main": [[{ "node": "Enviar Email", "type": "main", "index": 0 }]] },
    "Enviar Email": { "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Madrid" },
  "tags": [{ "name": "email_automation" }, { "name": "high" }, { "name": "phase_4" }],
  "meta": { "code": "EM-03", "category": "email_automation", "priority": "high", "estimated_hours": 4, "description": "Re-engagement semanal de leads dormidos >30 días sin contacto." }
}
