n8n-flujos/GC-01_google_calendar_sync.json
{
  "name": "GC-01 Google Calendar Bidirectional Sync",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 7,12,17 * * 1-5" }] } },
      "id": "cron-workday",
      "name": "3x/dia L-V (07,12,17h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/dashboard/calendar/sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": { "parameters": [{ "name": "days_ahead", "value": "14" }] },
        "options": {}
      },
      "id": "sync-calendar",
      "name": "Sync CRM → Google Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (data.synced > 0) {\n  return [{ json: { message: `📅 *Google Calendar Sync*\\n\\nSincronizadas: ${data.synced} visitas\\nErrores: ${data.errors}`, synced: data.synced } }];\n}\nreturn [];"
      },
      "id": "notify-if-synced",
      "name": "Notificar si hubo sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    }
  ],
  "connections": {
    "3x/dia L-V (07,12,17h)": { "main": [[{ "node": "Sync CRM → Google Calendar", "type": "main", "index": 0 }]] },
    "Sync CRM → Google Calendar": { "main": [[{ "node": "Notificar si hubo sync", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "calendar" }, { "name": "google" }]
}
