n8n-flujos/LD-03_enriquecimiento.json
{
  "name": "LD-03 Enriquecimiento Automático",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hooks/lead-enrich",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 200,
          "responseData": ""
        }
      },
      "id": "webhook",
      "name": "Webhook Lead Enrich",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/leads/{{$json.lead_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-lead",
      "name": "GET Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        470,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "riskitera-api",
          "name": "Riskitera API Bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json.company_sector}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-incomplete",
      "name": "¿Datos incompletos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst frameworks = [];\nconst sector = (lead.company_sector || '').toLowerCase();\nif (['finanzas','banca','seguros','finance','banking','insurance'].some(s => sector.includes(s))) frameworks.push('DORA');\nif (lead.is_critical_infrastructure) frameworks.push('NIS2');\nif (lead.is_public_sector) frameworks.push('ENS');\nframeworks.push('ISO 27001');\nif (['salud','healthcare','hospital'].some(s => sector.includes(s))) frameworks.push('RGPD Salud');\nreturn [{ json: { ...lead, regulatory_frameworks: [...new Set([...(lead.regulatory_frameworks || []), ...frameworks])] } }];"
      },
      "id": "infer-frameworks",
      "name": "Inferir Frameworks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        250
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/leads/{{$json.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "regulatory_frameworks",
              "value": "={{$json.regulatory_frameworks}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "update-lead",
      "name": "Actualizar Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1130,
        250
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "riskitera-api",
          "name": "Riskitera API Bearer"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook Lead Enrich": {
      "main": [
        [
          {
            "node": "GET Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Lead": {
      "main": [
        [
          {
            "node": "¿Datos incompletos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Datos incompletos?": {
      "main": [
        [
          {
            "node": "Inferir Frameworks",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Inferir Frameworks": {
      "main": [
        [
          {
            "node": "Actualizar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid"
  },
  "tags": [
    {
      "name": "leads_captacion"
    },
    {
      "name": "medium"
    },
    {
      "name": "phase_3"
    }
  ],
  "meta": {
    "code": "LD-03",
    "category": "leads_captacion",
    "priority": "medium",
    "estimated_hours": 6,
    "description": "Enriquecimiento de leads con datos incompletos. Infiere frameworks regulatorios por sector."
  }
}
