n8n-flujos/LD-01_webhook_formulario_web.json
{
  "name": "LD-01 Webhook Formulario Web",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hooks/website-form",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 200,
          "responseData": ""
        }
      },
      "id": "webhook-form",
      "name": "Webhook Formulario Web",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const form = $input.first().json;\nreturn [{ json: {\n  company_name: form.company_name || form.empresa || '',\n  contact_name: form.contact_name || form.nombre || '',\n  contact_email: form.contact_email || form.email || '',\n  contact_phone: form.contact_phone || form.telefono || '',\n  company_website: form.company_website || form.web || '',\n  notes: form.message || form.mensaje || '',\n  source: 'website',\n  score: 20,\n  status: 'new'\n}}];"
      },
      "id": "map-fields",
      "name": "Mapear Campos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-lead",
      "name": "Crear Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        690,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "riskitera-api",
          "name": "Riskitera API Bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=🆕 *Nuevo lead web*\n\n🏢 *{{$json.company_name}}*\n👤 {{$json.contact_name}}\n📧 {{$json.contact_email}}\n📱 {{$json.contact_phone || 'N/A'}}\n\n📝 _{{$('Mapear Campos').first().json.notes || 'Sin mensaje'}}_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        910,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Riskitera Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook Formulario Web": {
      "main": [
        [
          {
            "node": "Mapear Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Campos": {
      "main": [
        [
          {
            "node": "Crear Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Lead": {
      "main": [
        [
          {
            "node": "Notificar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid"
  },
  "tags": [
    {
      "name": "leads_captacion"
    },
    {
      "name": "critical"
    },
    {
      "name": "phase_1"
    }
  ],
  "meta": {
    "code": "LD-01",
    "category": "leads_captacion",
    "priority": "critical",
    "estimated_hours": 4,
    "description": "Recibe formularios web de riskitera.com, crea lead y notifica por Telegram."
  }
}
