n8n-flujos/MR-02_informe_mensual_consolidado.json
{
  "name": "MR-02 Informe Mensual Consolidado",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 2 * *"
            }
          ]
        }
      },
      "id": "cron-monthly",
      "name": "Día 2 cada mes 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/reports/pipeline",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-pipeline",
      "name": "GET Pipeline Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        470,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "riskitera-api",
          "name": "Riskitera API Bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/reports/performance",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-performance",
      "name": "GET Performance Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        470,
        350
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "riskitera-api",
          "name": "Riskitera API Bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/reports/activity",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-activity",
      "name": "GET Activity Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        470,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "riskitera-api",
          "name": "Riskitera API Bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const pipeline = $('GET Pipeline Report').first().json;\nconst performance = $('GET Performance Report').first().json;\nconst activity = $('GET Activity Report').first().json;\n\nconst now = new Date();\nconst prevMonth = new Date(now.getFullYear(), now.getMonth() - 1, 1);\nconst monthName = prevMonth.toLocaleDateString('es-ES', { month: 'long', year: 'numeric' });\n\nlet msg = `📈 *Informe Mensual Consolidado — ${monthName}*\\n\\n`;\n\nmsg += `🎯 *Pipeline:*\\n`;\nmsg += `• Valor total: ${(pipeline.total_value || 0).toLocaleString('es-ES')}€\\n`;\nmsg += `• Oportunidades abiertas: ${pipeline.open_count || 0}\\n`;\nmsg += `• Win rate: ${((pipeline.win_rate || 0) * 100).toFixed(1)}%\\n\\n`;\n\nmsg += `📊 *Actividad:*\\n`;\nmsg += `• Leads nuevos: ${activity.new_leads || 0}\\n`;\nmsg += `• Visitas realizadas: ${activity.visits_completed || 0}\\n`;\nmsg += `• Emails enviados: ${activity.emails_sent || 0}\\n`;\nmsg += `• Acciones completadas: ${activity.actions_completed || 0}\\n\\n`;\n\nmsg += `🏆 *Rendimiento:*\\n`;\nmsg += `• Deals ganados: ${performance.deals_won || 0}\\n`;\nmsg += `• Revenue: ${(performance.revenue || 0).toLocaleString('es-ES')}€\\n`;\nmsg += `• Tiempo medio cierre: ${performance.avg_close_days || 'N/A'} días\\n`;\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "build-report",
      "name": "Construir Informe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        350
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{$json.message}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram",
      "name": "Enviar Informe Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        910,
        350
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Riskitera Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Día 2 cada mes 9:00": {
      "main": [
        [
          {
            "node": "GET Pipeline Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Performance Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Activity Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Pipeline Report": {
      "main": [
        [
          {
            "node": "Construir Informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Performance Report": {
      "main": [
        [
          {
            "node": "Construir Informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Activity Report": {
      "main": [
        [
          {
            "node": "Construir Informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Informe": {
      "main": [
        [
          {
            "node": "Enviar Informe Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid"
  },
  "tags": [
    {
      "name": "seguimiento_mensual"
    },
    {
      "name": "high"
    },
    {
      "name": "phase_3"
    }
  ],
  "meta": {
    "code": "MR-02",
    "category": "seguimiento_mensual",
    "priority": "high",
    "estimated_hours": 4,
    "description": "Informe mensual consolidado con pipeline, actividad y rendimiento enviado por Telegram."
  }
}
