n8n-flujos/MR-01_auto_monthly_review.json
{
  "name": "MR-01 Auto-generación Monthly Review",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 1 * *" }] } },
      "id": "cron-monthly",
      "name": "Día 1 cada mes 8:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/leads?page_size=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-leads-count",
      "name": "GET Total Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 200],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/dashboard/stats",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-stats",
      "name": "GET Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 350],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/reports/activity",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-activity",
      "name": "GET Actividad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 500],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "jsCode": "const stats = $node['GET Stats'].json;\nconst activity = $node['GET Actividad'].json;\nconst leadsTotal = $node['GET Total Leads'].json.total || 0;\n\nconst now = new Date();\nconst prevMonth = new Date(now.getFullYear(), now.getMonth() - 1, 1);\nconst monthName = prevMonth.toLocaleDateString('es-ES', { month: 'long', year: 'numeric' });\n\nconst review = {\n  title: `Review mensual — ${monthName}`,\n  month: prevMonth.getMonth() + 1,\n  year: prevMonth.getFullYear(),\n  summary: `Revisión automática del mes de ${monthName}.`,\n  metrics: {\n    total_leads: leadsTotal,\n    new_leads_month: activity.new_leads || 0,\n    visits_completed: activity.visits_completed || 0,\n    emails_sent: activity.emails_sent || 0,\n    opportunities_created: activity.opportunities_created || 0,\n    pipeline_value: stats.pipeline_value || 0,\n    deals_won: activity.deals_won || 0,\n    deals_lost: activity.deals_lost || 0\n  },\n  status: 'draft'\n};\n\nreturn [{ json: review }];"
      },
      "id": "build-review",
      "name": "Construir Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/monthly-reviews",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "create-review",
      "name": "Crear Monthly Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [910, 350],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=📊 *Monthly Review generado*\n\n📅 {{$node['Construir Review'].json.title}}\n📝 Estado: borrador\n\nRevísalo en el CRM y completa los comentarios.",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1130, 350],
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Riskitera Telegram Bot" } }
    }
  ],
  "connections": {
    "Día 1 cada mes 8:00": { "main": [[{ "node": "GET Total Leads", "type": "main", "index": 0 }, { "node": "GET Stats", "type": "main", "index": 0 }, { "node": "GET Actividad", "type": "main", "index": 0 }]] },
    "GET Total Leads": { "main": [[{ "node": "Construir Review", "type": "main", "index": 0 }]] },
    "GET Stats": { "main": [[{ "node": "Construir Review", "type": "main", "index": 0 }]] },
    "GET Actividad": { "main": [[{ "node": "Construir Review", "type": "main", "index": 0 }]] },
    "Construir Review": { "main": [[{ "node": "Crear Monthly Review", "type": "main", "index": 0 }]] },
    "Crear Monthly Review": { "main": [[{ "node": "Notificar Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Madrid" },
  "tags": [{ "name": "seguimiento_mensual" }, { "name": "critical" }, { "name": "phase_2" }],
  "meta": { "code": "MR-01", "category": "seguimiento_mensual", "priority": "critical", "estimated_hours": 6, "description": "Auto-genera monthly review el día 1 de cada mes con métricas del mes anterior." }
}
