n8n-flujos/PI-02_report_semanal_pipeline.json
{
  "name": "PI-02 Report Semanal Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "cron-monday",
      "name": "Lunes 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/reports/pipeline",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-pipeline",
      "name": "GET Report Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        470,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "riskitera-api",
          "name": "Riskitera API Bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/dashboard/stats",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-stats",
      "name": "GET Dashboard Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        470,
        450
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "riskitera-api",
          "name": "Riskitera API Bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const pipeline = $('GET Report Pipeline').first().json;\nconst stats = $('GET Dashboard Stats').first().json;\n\nconst stages = pipeline.stages || {};\nlet msg = '📊 *Report Semanal Pipeline*\\n\\n';\n\n// Stats generales\nmsg += `📈 *Resumen general:*\\n`;\nmsg += `• Leads activos: ${stats.total_leads || 0}\\n`;\nmsg += `• Oportunidades abiertas: ${stats.open_opportunities || 0}\\n`;\nmsg += `• Valor pipeline: ${(stats.pipeline_value || 0).toLocaleString('es-ES')}€\\n\\n`;\n\n// Por etapa\nmsg += `🔄 *Por etapa:*\\n`;\nconst stageNames = { prospecting: 'Prospección', qualification: 'Cualificación', proposal: 'Propuesta', negotiation: 'Negociación', closed_won: 'Ganadas', closed_lost: 'Perdidas' };\nfor (const [stage, data] of Object.entries(stages)) {\n  const name = stageNames[stage] || stage;\n  msg += `• ${name}: ${data.count || 0} (${(data.value || 0).toLocaleString('es-ES')}€)\\n`;\n}\n\n// Win rate\nif (pipeline.win_rate !== undefined) {\n  msg += `\\n🎯 *Win rate:* ${(pipeline.win_rate * 100).toFixed(1)}%`;\n}\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "build-report",
      "name": "Construir Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        370
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{$json.message}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram",
      "name": "Enviar Report Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        910,
        370
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Riskitera Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Lunes 9:00": {
      "main": [
        [
          {
            "node": "GET Report Pipeline",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Dashboard Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Report Pipeline": {
      "main": [
        [
          {
            "node": "Construir Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Dashboard Stats": {
      "main": [
        [
          {
            "node": "Construir Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Report": {
      "main": [
        [
          {
            "node": "Enviar Report Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid"
  },
  "tags": [
    {
      "name": "pipeline"
    },
    {
      "name": "high"
    },
    {
      "name": "phase_3"
    }
  ],
  "meta": {
    "code": "PI-02",
    "category": "pipeline",
    "priority": "high",
    "estimated_hours": 4,
    "description": "Report semanal del pipeline con métricas por etapa, valor total y win rate."
  }
}
