n8n-flujos/PI-03_alerta_deal_estancado.json
{
  "name": "PI-03 Alerta Deal Estancado",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 10 * * 3" }] } },
      "id": "cron-wednesday",
      "name": "Miércoles 10:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/opportunities?status=open&page_size=200",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-opps",
      "name": "GET Oportunidades Abiertas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "jsCode": "const opps = $input.first().json.items || [];\nconst now = new Date();\nconst staleThreshold = 14; // días sin movimiento\n\nconst stale = opps.filter(o => {\n  const lastUpdate = new Date(o.updated_at);\n  const daysSinceUpdate = (now - lastUpdate) / 86400000;\n  return daysSinceUpdate > staleThreshold;\n});\n\nreturn stale.map(o => ({\n  json: {\n    ...o,\n    days_stale: Math.floor((now - new Date(o.updated_at)) / 86400000)\n  }\n}));"
      },
      "id": "filter-stale",
      "name": "Filtrar Estancados >14d",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const stale = $input.all().map(i => i.json);\nif (stale.length === 0) return [];\n\nlet msg = '⚠️ *Deals estancados (>14 días sin movimiento)*\\n\\n';\nlet totalValue = 0;\n\nstale.forEach(o => {\n  msg += `🔸 *${o.name}*\\n`;\n  msg += `   💰 ${(o.value || 0).toLocaleString('es-ES')}€ | 📅 ${o.days_stale}d sin mover | 🔄 ${o.stage || 'N/A'}\\n\\n`;\n  totalValue += o.value || 0;\n});\n\nmsg += `📊 *Total en riesgo:* ${totalValue.toLocaleString('es-ES')}€ en ${stale.length} deals`;\n\nreturn [{ json: { message: msg, count: stale.length, total_value: totalValue } }];"
      },
      "id": "build-alert",
      "name": "Construir Alerta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{$json.message}}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram",
      "name": "Alerta Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1130, 300],
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Riskitera Telegram Bot" } }
    }
  ],
  "connections": {
    "Miércoles 10:00": { "main": [[{ "node": "GET Oportunidades Abiertas", "type": "main", "index": 0 }]] },
    "GET Oportunidades Abiertas": { "main": [[{ "node": "Filtrar Estancados >14d", "type": "main", "index": 0 }]] },
    "Filtrar Estancados >14d": { "main": [[{ "node": "Construir Alerta", "type": "main", "index": 0 }]] },
    "Construir Alerta": { "main": [[{ "node": "Alerta Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Madrid" },
  "tags": [{ "name": "pipeline" }, { "name": "high" }, { "name": "phase_3" }],
  "meta": { "code": "PI-03", "category": "pipeline", "priority": "high", "estimated_hours": 3, "description": "Alerta semanal de deals estancados >14 días sin movimiento con valor en riesgo." }
}
