n8n-flujos/RS-045c_metricool_social.json
{
  "name": "RS-045c — Metricool Social Scheduling",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1" }] }
      },
      "name": "Cron Lunes 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Cada lunes a las 9:00 — revisa contenido publicado y programa social posts"
    },
    {
      "parameters": {
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/marketing/assets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "published" },
            { "name": "page_size", "value": "10" }
          ]
        }
      },
      "name": "GET Assets Publicados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "jsCode": "// Generar posts sociales para cada asset publicado esta semana\nconst assets = $input.first().json.items || [];\nconst now = new Date();\nconst weekAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n\nconst recentAssets = assets.filter(a => {\n  const created = new Date(a.created_at);\n  return created >= weekAgo;\n});\n\nconst posts = [];\nconst days = ['martes', 'miércoles', 'jueves'];\nlet dayIndex = 0;\n\nfor (const asset of recentAssets.slice(0, 3)) {\n  const postDate = new Date(now);\n  postDate.setDate(now.getDate() + dayIndex + 1); // +1 porque empieza el martes\n  postDate.setHours(10, 0, 0, 0);\n  \n  // LinkedIn post\n  posts.push({\n    json: {\n      platform: 'linkedin',\n      text: `📋 Nuevo contenido: ${asset.name}\\n\\n${asset.seo_description || 'Descubre cómo cumplir con las normativas de ciberseguridad europeas.'}\\n\\n${asset.external_url || 'https://riskitera.com'}\\n\\n#Ciberseguridad #GRC #ENS #NIS2 #DORA`,\n      scheduled_at: postDate.toISOString(),\n      asset_id: asset.id,\n      asset_name: asset.name,\n      day: days[dayIndex]\n    }\n  });\n  \n  dayIndex++;\n}\n\nreturn posts.length > 0 ? posts : [{ json: { skip: true, reason: 'No hay assets nuevos esta semana' } }];"
      },
      "name": "Generar Posts Sociales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{$json.skip}}", "operation": "notEqual", "value2": true }] }
      },
      "name": "¿Hay Posts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": { "reset": false }
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "url": "https://app.metricool.com/api/v2/scheduler/post",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{$json.text}}\",\n  \"networks\": [\"{{$json.platform}}\"],\n  \"scheduledAt\": \"{{$json.scheduled_at}}\",\n  \"autoPublish\": true\n}",
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Bearer {{$env.METRICOOL_API_KEY}}" }]
        }
      },
      "name": "Programar en Metricool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/marketing/calendar",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"Social: {{$json.asset_name}}\",\n  \"event_type\": \"social_post\",\n  \"channel\": \"{{$json.platform}}\",\n  \"description\": \"Post programado via Metricool para {{$json.day}}\",\n  \"start_date\": \"{{$json.scheduled_at}}\",\n  \"all_day\": false\n}"
      },
      "name": "Crear Evento Calendario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1570, 200],
      "credentials": { "httpHeaderAuth": { "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{$env.TELEGRAM_CHAT_ID}}\",\n  \"text\": \"📱 Metricool: Programados {{$input.all().length}} posts sociales para esta semana\",\n  \"parse_mode\": \"HTML\"\n}"
      },
      "name": "Telegram Resumen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1130, 450]
    }
  ],
  "connections": {
    "Cron Lunes 9:00": { "main": [[{ "node": "GET Assets Publicados", "type": "main", "index": 0 }]] },
    "GET Assets Publicados": { "main": [[{ "node": "Generar Posts Sociales", "type": "main", "index": 0 }]] },
    "Generar Posts Sociales": { "main": [[{ "node": "¿Hay Posts?", "type": "main", "index": 0 }]] },
    "¿Hay Posts?": {
      "main": [
        [{ "node": "SplitInBatches", "type": "main", "index": 0 }],
        [{ "node": "Telegram Resumen", "type": "main", "index": 0 }]
      ]
    },
    "SplitInBatches": { "main": [[{ "node": "Programar en Metricool", "type": "main", "index": 0 }]] },
    "Programar en Metricool": { "main": [[{ "node": "Crear Evento Calendario", "type": "main", "index": 0 }]] },
    "Crear Evento Calendario": { "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Madrid" },
  "tags": [{ "name": "metricool" }, { "name": "social" }, { "name": "sprint-1" }],
  "meta": {
    "code": "RS-045c",
    "category": "integraciones",
    "priority": "media",
    "estimated_hours": 2,
    "description": "Cada lunes revisa assets publicados, genera posts para LinkedIn, los programa en Metricool y los añade al calendario de marketing"
  }
}
