n8n-flujos/RS-045b_clarity_enrichment.json
{
  "name": "RS-045b — Clarity Lead Enrichment",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 6 }] } },
      "name": "Cron 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://www.clarity.ms/api/v1/projects/{{$env.CLARITY_PROJECT_ID}}/sessions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 15000 },
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Bearer {{$env.CLARITY_API_KEY}}" }]
        },
        "queryParameters": {
          "parameters": [
            { "name": "days", "value": "1" },
            { "name": "minPages", "value": "2" }
          ]
        }
      },
      "name": "GET Clarity Sessions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filtrar sesiones con >= 2 pageviews en páginas de producto\nconst sessions = $input.all();\nconst enrichedVisitors = [];\n\nfor (const session of sessions) {\n  const data = session.json;\n  const pages = data.pages || [];\n  const productPages = pages.filter(p => \n    p.url && (p.url.includes('/producto') || p.url.includes('/pricing') || \n              p.url.includes('/demo') || p.url.includes('/ens') || \n              p.url.includes('/nis2') || p.url.includes('/dora'))\n  );\n  \n  if (productPages.length >= 2) {\n    enrichedVisitors.push({\n      json: {\n        email: data.userEmail || null,\n        ip: data.ip || null,\n        country: data.country || 'ES',\n        city: data.city || null,\n        pages_viewed: pages.length,\n        product_pages: productPages.length,\n        scroll_depth_avg: data.scrollDepthAvg || 0,\n        rage_clicks: data.rageClicks || 0,\n        session_duration: data.duration || 0,\n        score_boost: productPages.length >= 3 ? 15 : 10,\n        source: 'clarity_enrichment'\n      }\n    });\n  }\n}\n\nreturn enrichedVisitors;"
      },
      "name": "Filtrar Visitantes Interesados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": { "conditions": { "boolean": [{ "value1": "={{$json.email}}", "operation": "isNotEmpty" }] } },
      "name": "¿Tiene Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 10000 },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "search", "value": "={{$json.email}}" }]
        }
      },
      "name": "Buscar Lead por Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1130, 200],
      "credentials": { "httpHeaderAuth": { "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst items = lead.items || [];\n\nif (items.length > 0) {\n  const existingLead = items[0];\n  const prevItem = $('Filtrar Visitantes Interesados').first().json;\n  const newScore = Math.min((existingLead.score || 0) + prevItem.score_boost, 100);\n  \n  return [{\n    json: {\n      lead_id: existingLead.id,\n      new_score: newScore,\n      clarity_data: {\n        pages_viewed: prevItem.pages_viewed,\n        product_pages: prevItem.product_pages,\n        scroll_depth: prevItem.scroll_depth_avg,\n        rage_clicks: prevItem.rage_clicks,\n        enriched_at: new Date().toISOString()\n      }\n    }\n  }];\n}\n\nreturn [];"
      },
      "name": "Calcular Nuevo Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/leads/{{$json.lead_id}}",
        "method": "PUT",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{ "name": "score", "value": "={{$json.new_score}}" }]
        }
      },
      "name": "Actualizar Lead Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1570, 200],
      "credentials": { "httpHeaderAuth": { "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/marketing/webhooks/lead-attribution",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"clarity_{{$json.email}}_{{$now.format('yyyyMMdd')}}\",\n  \"channel\": \"organic\",\n  \"utm_source\": \"clarity\",\n  \"utm_medium\": \"behavioral\",\n  \"country\": \"{{$json.country}}\",\n  \"touchpoint_at\": \"{{$now.toISO()}}\"\n}"
      },
      "name": "Registrar Atribución",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1130, 400],
      "credentials": { "httpHeaderAuth": { "name": "Riskitera API Bearer" } }
    }
  ],
  "connections": {
    "Cron 6h": { "main": [[{ "node": "GET Clarity Sessions", "type": "main", "index": 0 }]] },
    "GET Clarity Sessions": { "main": [[{ "node": "Filtrar Visitantes Interesados", "type": "main", "index": 0 }]] },
    "Filtrar Visitantes Interesados": { "main": [[{ "node": "¿Tiene Email?", "type": "main", "index": 0 }]] },
    "¿Tiene Email?": {
      "main": [
        [{ "node": "Buscar Lead por Email", "type": "main", "index": 0 }],
        [{ "node": "Registrar Atribución", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Lead por Email": { "main": [[{ "node": "Calcular Nuevo Score", "type": "main", "index": 0 }]] },
    "Calcular Nuevo Score": { "main": [[{ "node": "Actualizar Lead Score", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Madrid" },
  "tags": [{ "name": "clarity" }, { "name": "enrichment" }, { "name": "sprint-1" }],
  "meta": {
    "code": "RS-045b",
    "category": "enrichment",
    "priority": "alta",
    "estimated_hours": 2,
    "description": "Cada 6h consulta Clarity, filtra visitantes con >=2 pageviews en páginas de producto, busca lead por email, incrementa score (+10/+15)"
  }
}
