n8n-flujos/RS-033_regulatory_trigger.json
{
  "name": "RS-033 — Regulatory Trigger Feed (BOE/ENISA)",
  "nodes": [
    {
      "id": "cron-lwf-700",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1,3,5"
            }
          ]
        }
      },
      "name": "Cron L-M-V 7:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        250,
        300
      ]
    },
    {
      "id": "get-boe",
      "parameters": {
        "url": "https://www.boe.es/datosabiertos/api/boe/dias/ultimos/5",
        "options": {
          "timeout": 15000
        }
      },
      "name": "GET BOE últimos 5 días",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        470,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "id": "get-enisa-rss",
      "parameters": {
        "url": "https://www.enisa.europa.eu/rss/rss-news.xml",
        "options": {
          "timeout": 15000
        }
      },
      "name": "GET ENISA RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        470,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "id": "filter-regulatory",
      "parameters": {
        "jsCode": "// Filtrar publicaciones relevantes para ciberseguridad/GRC\nconst boe = $('GET BOE últimos 5 días').first().json;\nconst enisa = $('GET ENISA RSS').first().json;\nconst keywords = ['ens', 'esquema nacional', 'nis2', 'dora', 'ciberseguridad', 'seguridad información', 'protección datos', 'infraestructuras críticas'];\n\nconst alerts = [];\n\n// Parse BOE\nconst boeItems = boe?.data?.sumarios || [];\nfor (const item of boeItems) {\n  const text = (item.titulo || '').toLowerCase();\n  if (keywords.some(k => text.includes(k))) {\n    alerts.push({ source: 'BOE', title: item.titulo, url: item.url_pdf || '', date: item.fecha_publicacion });\n  }\n}\n\n// Parse ENISA RSS\nconst rssText = typeof enisa === 'string' ? enisa : JSON.stringify(enisa);\nconst titleMatches = rssText.match(/<title>([^<]+)<\\/title>/g) || [];\nfor (const match of titleMatches) {\n  const title = match.replace(/<\\/?title>/g, '');\n  if (keywords.some(k => title.toLowerCase().includes(k))) {\n    alerts.push({ source: 'ENISA', title, url: 'https://www.enisa.europa.eu', date: new Date().toISOString() });\n  }\n}\n\nreturn alerts.length > 0 ? alerts.map(a => ({ json: a })) : [{ json: { skip: true } }];"
      },
      "name": "Filtrar Regulatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "id": "if-hay-alertas",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json.skip}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ]
        }
      },
      "name": "¿Hay Alertas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        910,
        300
      ]
    },
    {
      "id": "crear-lead-regulatorio",
      "parameters": {
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/leads",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_name\": \"Alerta Regulatoria — {{$json.source}}\",\n  \"contact_name\": \"Auto-generado\",\n  \"source\": \"website\",\n  \"score\": 30,\n  \"acquisition_channel\": \"regulatory_feed\",\n  \"notes\": \"{{$json.title}}\\nFuente: {{$json.source}}\\nURL: {{$json.url}}\\nFecha: {{$json.date}}\"\n}"
      },
      "name": "Crear Lead Regulatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1130,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "riskitera-api",
          "name": "Riskitera API Bearer"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "telegram-alert",
      "parameters": {
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{$env.TELEGRAM_CHAT_ID}}\",\n  \"text\": \"📋 <b>Alerta Regulatoria</b>\\n{{$json.source}}: {{$json.title}}\\n{{$json.url}}\",\n  \"parse_mode\": \"HTML\"\n}"
      },
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1130,
        400
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Cron L-M-V 7:00": {
      "main": [
        [
          {
            "node": "GET BOE últimos 5 días",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET ENISA RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET BOE últimos 5 días": {
      "main": [
        [
          {
            "node": "Filtrar Regulatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET ENISA RSS": {
      "main": [
        [
          {
            "node": "Filtrar Regulatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Regulatorio": {
      "main": [
        [
          {
            "node": "¿Hay Alertas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Alertas?": {
      "main": [
        [
          {
            "node": "Crear Lead Regulatorio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid"
  },
  "tags": [
    {
      "name": "regulatory"
    },
    {
      "name": "BOE"
    },
    {
      "name": "ENISA"
    }
  ],
  "meta": {
    "code": "RS-033",
    "category": "captacion",
    "priority": "alta"
  }
}
