n8n-flujos/SC-01_social_recurrence_scheduler.json
{
  "name": "SC-01 Social Recurrence Scheduler",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 */1 * * *" }] } },
      "id": "cron-hourly",
      "name": "Cada hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/social/recurrences",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-recurrences",
      "name": "GET Recurrencias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst recurrences = data.recurrences || [];\nconst now = new Date();\n\nconst due = recurrences.filter(r => {\n  if (!r.is_active || !r.next_run) return false;\n  return new Date(r.next_run) <= now;\n});\n\nreturn due.map(r => ({ json: { id: r.id, name: r.name, platform: r.platform } }));"
      },
      "id": "filter-due",
      "name": "Filtrar recurrencias vencidas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/social/recurrences/{{ $json.id }}/generate-now",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "generate-post",
      "name": "Generar post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [910, 300],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all().map(i => i.json);\nconst generated = results.filter(r => r.created);\nif (generated.length === 0) return [];\n\nconst msg = `📱 *Auto-post generados: ${generated.length}*\\n\\n` + generated.map(r => `• ${r.content_preview?.slice(0, 80)}...`).join('\\n');\nreturn [{ json: { message: msg, count: generated.length } }];"
      },
      "id": "notify",
      "name": "Preparar notificacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Cada hora": { "main": [[{ "node": "GET Recurrencias", "type": "main", "index": 0 }]] },
    "GET Recurrencias": { "main": [[{ "node": "Filtrar recurrencias vencidas", "type": "main", "index": 0 }]] },
    "Filtrar recurrencias vencidas": { "main": [[{ "node": "Generar post", "type": "main", "index": 0 }]] },
    "Generar post": { "main": [[{ "node": "Preparar notificacion", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "social" }, { "name": "automation" }]
}
