n8n-flujos/VI-02_recordatorio_pre_visita.json
{
  "name": "VI-02 Recordatorio Pre-Visita",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] } },
      "id": "cron-daily",
      "name": "Diario 8:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://riskitera-sales-backend.fly.dev/api/v1/visits?from_date={{new Date().toISOString().split('T')[0]}}&to_date={{new Date(Date.now() + 86400000).toISOString().split('T')[0]}}&status=scheduled",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-visits",
      "name": "GET Visitas Hoy/Mañana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "jsCode": "const visits = $input.first().json.items || [];\nif (visits.length === 0) return [];\n\nconst today = new Date().toISOString().split('T')[0];\nconst tomorrow = new Date(Date.now() + 86400000).toISOString().split('T')[0];\n\nreturn visits.map(v => {\n  const visitDate = v.scheduled_date?.split('T')[0] || '';\n  const isToday = visitDate === today;\n  return { json: { ...v, is_today: isToday, label: isToday ? 'HOY' : 'MAÑANA' } };\n});"
      },
      "id": "format-visits",
      "name": "Formatear Visitas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=📅 *Recordatorio de visita ({{$json.label}})*\n\n🏢 *{{$json.company_name || 'Sin empresa'}}*\n👤 {{$json.contact_name || 'Sin contacto'}}\n🕐 {{$json.scheduled_time || 'Hora no definida'}}\n📍 {{$json.location || 'Ubicación no definida'}}\n\n📝 _{{$json.notes || 'Sin notas'}}_",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram",
      "name": "Recordatorio Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [910, 300],
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Riskitera Telegram Bot" } }
    }
  ],
  "connections": {
    "Diario 8:00": { "main": [[{ "node": "GET Visitas Hoy/Mañana", "type": "main", "index": 0 }]] },
    "GET Visitas Hoy/Mañana": { "main": [[{ "node": "Formatear Visitas", "type": "main", "index": 0 }]] },
    "Formatear Visitas": { "main": [[{ "node": "Recordatorio Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Madrid" },
  "tags": [{ "name": "visitas" }, { "name": "medium" }, { "name": "phase_3" }],
  "meta": { "code": "VI-02", "category": "visitas", "priority": "medium", "estimated_hours": 3, "description": "Recordatorio diario por Telegram de visitas programadas para hoy y mañana." }
}
