n8n-flujos/VI-01_acciones_post_visita.json
{
  "name": "VI-01 Acciones Post-Visita",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "hooks/visit-completed", "responseMode": "onReceived", "options": {} },
      "id": "webhook-visit",
      "name": "Webhook Visita Completada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const visit = $input.first().json;\nconst actions = [];\n\n// Acción de seguimiento siempre\nactions.push({\n  lead_id: visit.lead_id,\n  title: `Seguimiento post-visita: ${visit.company_name || 'Lead'}`,\n  description: `Resultado visita: ${visit.result || 'sin resultado'}. ${visit.summary || ''}`,\n  due_date: new Date(Date.now() + 3 * 86400000).toISOString().split('T')[0],\n  priority: visit.result === 'positive' ? 'high' : 'medium',\n  action_type: 'follow_up'\n});\n\n// Si hay próximos pasos, crear acción por cada uno\nconst nextSteps = visit.next_steps || [];\nnextSteps.forEach((step, i) => {\n  actions.push({\n    lead_id: visit.lead_id,\n    title: step,\n    description: `Paso acordado en visita del ${new Date().toLocaleDateString('es-ES')}`,\n    due_date: new Date(Date.now() + (7 + i * 3) * 86400000).toISOString().split('T')[0],\n    priority: 'medium',\n    action_type: 'task'\n  });\n});\n\n// Si resultado negativo, acción de revisión\nif (visit.result === 'negative') {\n  actions.push({\n    lead_id: visit.lead_id,\n    title: `Revisión estrategia: ${visit.company_name || 'Lead'}`,\n    description: 'Resultado negativo en visita. Revisar enfoque y decidir próximos pasos.',\n    due_date: new Date(Date.now() + 7 * 86400000).toISOString().split('T')[0],\n    priority: 'low',\n    action_type: 'review'\n  });\n}\n\nreturn actions.map(a => ({ json: a }));"
      },
      "id": "generate-actions",
      "name": "Generar Acciones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": { "batchSize": 3, "options": {} },
      "id": "batch",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/actions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "create-action",
      "name": "Crear Acción",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [910, 300],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=✅ *Acciones post-visita creadas*\n\n🏢 {{$node['Webhook Visita Completada'].json.company_name || 'Lead'}}\n📋 Acciones generadas automáticamente tras visita.",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1130, 300],
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "Riskitera Telegram Bot" } }
    }
  ],
  "connections": {
    "Webhook Visita Completada": { "main": [[{ "node": "Generar Acciones", "type": "main", "index": 0 }]] },
    "Generar Acciones": { "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]] },
    "SplitInBatches": { "main": [[{ "node": "Crear Acción", "type": "main", "index": 0 }]] },
    "Crear Acción": { "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Madrid" },
  "tags": [{ "name": "visitas" }, { "name": "high" }, { "name": "phase_2" }],
  "meta": { "code": "VI-01", "category": "visitas", "priority": "high", "estimated_hours": 5, "description": "Genera acciones automáticas tras completar una visita según resultado y próximos pasos." }
}
