n8n-flujos/WH-01_webhook_outbound_dispatch.json
{
  "name": "WH-01 Webhook Outbound Dispatch",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "*/5 * * * *" }] } },
      "id": "cron-5min",
      "name": "Cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://riskitera-sales-backend.fly.dev/api/v1/webhooks/subscriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-subscriptions",
      "name": "GET Suscripciones activas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300],
      "credentials": { "httpHeaderAuth": { "id": "riskitera-api", "name": "Riskitera API Bearer" } }
    },
    {
      "parameters": {
        "jsCode": "const subs = $input.first().json || [];\nconst active = subs.filter(s => s.is_active);\nreturn [{ json: { active_count: active.length, subscriptions: active.map(s => ({ name: s.name, url: s.url, events: s.events, total_sent: s.total_sent })) } }];"
      },
      "id": "process",
      "name": "Procesar suscripciones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Cada 5 minutos": { "main": [[{ "node": "GET Suscripciones activas", "type": "main", "index": 0 }]] },
    "GET Suscripciones activas": { "main": [[{ "node": "Procesar suscripciones", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "webhooks" }]
}
